<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<body> <font size="2" color="green">Hello. I hope you enjoyed viewing the kitten, because it was rather difficult to make happen. </font></body>
